@media (max-width: 800px) {
    .site {
        flex-direction: column;
    }

    .site-header {
        flex-direction: column;
    }

}


/* @media (hover: hover) {
    .site-header {
        background: orange;
    }
} */


/* 
@media (max-width: 500px) {
    .site-header {
        background-color: red;
    }
}

@media (min-width: 500px) {
    
    .site-header {
        background: blue;
    }
} */