@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');


body {
    background-color: #EEE;
    color: #333;
}



.site > header {
    border-bottom: 2px solid rgba(63, 63, 63, 0.856);
}

header p a {
    text-decoration: none;
    color: black;
}


img {
    padding: 0.5em;
    background-color: white;
    border: 0.2em solid black;
    box-shadow: 0 0 1em 0.5em rgb(0, 0, 0, 0.25);
    margin-left: 1em;
    max-width: 15em;
}


aside {
    vertical-align: top;
    padding: 0.2em 0 0 3em;
}


blockquote {
    max-width: 25em;
    opacity: 0.7;
}

blockquote.align-right {
  padding-left: 1em;
  border-left: 1px solid rgba(107, 107, 107, 0.486);
}

blockquote.align-left {
  padding-right: 1em;
  border-right: 1px solid rgba(107, 107, 107, 0.486);
}

.author {
  text-align: right;
}

