body {
    padding: 1em;
}

.site-title {
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.timeline {
    border-radius: 0.3em;
    overflow: hidden;
    border: 2px solid #ccc;
    display: flex;
    flex-direction: column;
}

article {
    display: block;
    width: 25em;
    margin: 0 auto;
}

.green {
    display: flex;
    align-items: flex-start;
    position: relative;
}

.yellow {
    display: flex;
    align-items: flex-start;
    position: relative;
}

section {
    padding: 1em;
}

.green::before {
    content: '';
    padding: 0.5em 1em;
    background: #090;
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.yellow::before {
    content: '';
    padding: 0.5em 1em;
    background: rgb(211, 165, 13);
    width: 2em;
    height: 2em;
    border-radius: 50%;
}