

li {
    display: inline-block;
    padding: 0.7em;
}

li a {
    border-radius: 50%;
    background-color: rgba(212, 212, 212, 0.582);
    font-size: 2em;
    padding: 0.5em 0.6em;
    color: black;
}

nav ul li:nth-child(1) a:hover {
    color: rgb(32, 32, 202);
}

nav ul li:nth-child(2) a:hover {
    color: rgb(68, 163, 218);
}

nav ul li:nth-child(3) a:hover {
    color: rgb(180, 80, 14);
}

nav ul li:nth-child(4) a:hover {
    color: rgb(48, 122, 165);
}

nav ul li:nth-child(5) a:hover {
    color: rgb(88, 160, 202);
}