body {
    padding: 0 2em;
    background-color: lightblue;
}

.site {
    max-width: 40em; /* To be centered in the center of page */
    margin: 0 auto;
    background-color: white;
}

.site-header,
.site-content,
.site-footer {
    padding: 2em;
}