
#nav-toggle {
    appearance: none;
    pointer-events: none;
}

#toggle {
    font-size: 1.2em;
}


.logo a {
    color: rgb(167, 14, 146);
    font-size: 2.3em;
}


@media (min-width: 320px) {
    .site-header {
        position: relative;
    }

    .site-header nav {
        display: none;
        position: absolute;
        right: 0; top: 5em;
    }    

    #nav-toggle:checked + .site .section nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-radius: 0.3em;
    }


    #nav-toggle:checked + .site .site-header label[for="nav-toggle"] span {
        display: none;
    }

    #nav-toggle:checked + .site label[for="nav-toggle"]::before {
        display: block;
        content: 'Close';
    }

    .site .section nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0.5em 0;
        justify-content: center;
        gap: 1em;
        background: #333;
        border-radius: 0.3em;
    }

    .site .section nav a {
        color: #fff;
        padding: 0.5em 1em;
        font-size: 1.1em;
    }

    .site .section nav li {
        padding: 0.5em 0.2em;
    }

    .site .section nav li:hover {
        background: gray;
    }
}

@media (min-width: 481px) {}

@media (min-width: 769px) {}

@media (min-width: 1025px) {}

@media (min-width: 1201px) {}