@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

html {
    font: 14px/1.5 'PT Serif', 'PT Sans';
}

@media (min-width: 400px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 600px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1100px) {
    html {
        font-size: 16px;
    }
}

body, table input {
    font: inherit;
}

h1 { font-size: 2.4em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }


li {
    list-style-position: inside;
}

header nav li {
    display: block;
    padding: 0 0.5em;
}


.site-header p, nav ul a {
    font-family: 'PT Sans';
}

.site-header,
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.3em 0;
    line-height: 1.2;
}

section p:last-of-type {
    font-family: 'PT Sans';
}

section p:nth-child(2) {
    padding-bottom: 4em;
}

.section-title2 {
    font-size: 3em;
}

.site-footer section a {
    font-size: 0.8em;
}

p {
    font-size: 1em;
}