
nav ul {
    display: flex;
    gap: 2em
}

nav ul a {
    color: #fff;
    text-transform: uppercase;
}

.navigation {
    padding: 2em 4em;
}

.navigation header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
