
body {
    background: #fff;
}

.container {
    display: flex;
    flex-direction: column;
}

.site-header {
    padding: 3em;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

li {
    list-style: none;
}

.desc {
    padding: 7em 0 5em 0;
    display: flex;
    justify-content: center;
    gap: 4em;
    padding-bottom: 3em;
    border-bottom: 1px solid #ccc;
}

.desc section {
    flex: 0 0 500px;
}

.sponsors {
    padding: 3em 0 3em 0;
    text-align: center;
}


.media {
    display: flex;
    justify-content: center;
    gap: 3em;
    padding-bottom: 2.5em;
}

.desc a { 
    color: rgb(194, 108, 10);
    padding: 0.5em 1em;
    border: 1px solid rgb(194, 108, 10);
    border-radius: 0.1em;
}

.button {
    padding-top: 1em;
}

.text {
    opacity: 0.6;
    padding-bottom: 3em;
}

.sponsors h2 {
    color: rgb(165, 90, 5)
}