* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

body {
    background: rgb(238, 238, 238);
    max-width: 60%;
    margin: 0 auto;
    padding: 1em;
}

img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.5em 0.5em 0 0;
    
}

.collection {
    display: flex;
    gap: 1.5em;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 0 350px;
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em 0 rgb(0, 0, 0, 0.3);
}

section, footer { 
    padding: 1em;
}

footer {
    border-top: 1px solid #ccccccad;
}

h3 {
    padding-bottom: 0.5em;
}

h1 {
    padding-bottom: 1em;
}

.flex-collection {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.flex-footer {
    margin-top: auto;
}