
.site-footer {
    background: rgb(20, 20, 20);
}

.site-footer footer {
    max-width: 70%;
    margin: 0 auto;
    padding: 3em 2em 0 2em;
}

.footer-title {
    color: #fff;
    padding-bottom: 2em;
}

.site-footer a {
    color: rgb(136, 136, 136);
    padding-bottom: 0.8em;
    text-transform: uppercase;
}

.footer-footer {
    border-top: 1px solid #9999997c;
    padding: 1em;
}

.site-footer .content {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    padding-bottom: 4em;
}

.site-footer .content section {
    display: flex;
    flex-direction: column;
}

.footer-footer div {
    padding-left: 1em;
    max-width: 70%;
    color: #9999997c;
    margin: 0 auto;
}