* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font: 14px/1.5 'Helvetica', sans-serif;
}

body {
    box-sizing: inherit;
    padding: 1em;
}

.container {
    display: flex;
    max-width: 90em;
    height: 100vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

article {
    display: flex;
    max-width: 60em;
    padding: 2.5em;
    border: 3px solid black;
    border-radius: 15px;
    background: rgb(55, 126, 184)
}

h1, h2 {
    padding-bottom: 1.5em;
    padding-top: 1em;
}

h2 {
    font-size: 1em;
    font-weight: 550;
}

h1 {
    padding-top: 0.1em;
    padding-bottom: 0.6em;
    font-size: 1.8em;
    color: #fff;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 5em;
    padding-top: 2em;
}

button {
    border: 1px solid black;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.contact {
    background-color: lightcoral;
    color: #fff;
}

.learnMore {
    background-color: rgba(0, 0, 0, 0.0);
}